{% assign i18n = site.data.i18n.translations[page.language] %}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false" aria-controls="nav">
                <span class="sr-only">{{ i18n.toggle_navigation }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ i18n.link | prepend: site.baseurl }}">#!</a>
            <a class="navbar-brand visible-xs" data-toggle="collapse" data-target="#about" style="cursor: pointer;">{{ i18n.who_am_i }}</a></li>
        </div>
        <div class="collapse navbar-collapse" id="nav">
            <ul class="nav navbar-nav">
                {% for item in i18n.navbar %}
                    <li><a href="{{ item.link | prepend: site.baseurl }}">{{ item.name }}</a></li>
                {% endfor %}
                <li class="responsive-divider"></li>
                {% if site.data.i18n.languages.size > 2 %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-flag-o"></i> {{ i18n.name }}</a>
                        <ul class="dropdown-menu" style="min-width: 10px;">
                            {% for lang in site.data.i18n.languages %}
                                {% assign sel_lang = site.data.i18n.translations[lang] %}
                                <li><a href="{{ sel_lang.link | prepend: site.baseurl }}"><i class="fa fa-flag-o"></i> {{ sel_lang.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    {% for lang in site.data.i18n.languages %}
                        {% if lang != page.language %}
                            {% assign sel_lang = site.data.i18n.translations[lang] %}
                            <li><a href="{{ sel_lang.link | prepend: site.baseurl }}"><i class="fa fa-flag-o"></i> {{ sel_lang.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-xs">
                <li><a data-toggle="collapse" data-target="#about" style="cursor: pointer;">{{ i18n.who_am_i }}</a></li>
                <li><a class="fa fa-rss" target="_blank" href="{{ '/' | prepend: page.feed | prepend: '/feed/' | prepend: site.baseurl }}"></a></li>
            </ul>
         </div>
    </div>
</nav>
