<div class="row">
    {% for project in site.projects %}
        {% assign project_url = project.url | split: '/' %}
        {% if project.category == include.category and project_url[2] == page.language %}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        {{ project.title }}
                        <a href="{{ project.link }}" target="_blank"><i class="fa fa-external-link pull-right"></i></a>
                    </h4>
                </div>
                <div class="panel-body">
                    {{ project.content }}
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
