<div id="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1><a href="{{ i18n.link | prepend: site.baseurl }}">#!/bin/kyberkits</a><p class="lead">{{ i18n.description }}</p></h1>
            </div>
            <div class="col-md-5">
                <div id="about" class="panel panel-default collapse in">
                    <div class="panel-body">
                        <div class="col-xs-10">
                            <p class="lead">{{ i18n.profile.lead }}</p>
                            {{ i18n.profile.content }}
                        </div>
                        <div class="col-xs-2">
                            <ul class="list-unstyled">
                                <li><a class="label label-warning fa fa-key" target="_blank" href="https://keybase.io/gynter" data-toggle="tooltip" data-placement="left" title="Keybase"> </a></li>
                                <li><a class="label label-success fa fa-envelope-o" href="mailto:kyber@kits.ee?subject=Message%20via%20web" data-toggle="tooltip" data-placement="left" title="kyber@kits.ee"> </a></li>
                                <li><a class="label label-default fa fa-github" target="_blank" href="https://github.com/gynter" data-toggle="tooltip" data-placement="left" title="Github"> </a></li>
                                <li><a class="label label-default fa fa-github-alt" target="_blank" href="https://gist.github.com/gynter" data-toggle="tooltip" data-placement="left" title="Gist"> </a></li>
                                <li><a class="label label-danger fa fa-code" target="_blank" href="https://launchpad.net/~gynter" data-toggle="tooltip" data-placement="left" title="Launchpad"> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
