---
layout: default
---

<hr class="heading-divider" />
<h3 class="text-center">
    <a href="{{ post.url | prepend: site.baseurl }}">{{ page.title }}</a><br />
    <small>
        {{ page.date | date: "%B %-d, %Y" }}
        {% if page.tags != empty %}<br />
            <i class="fa fa-tags"></i>
            {% for tag in page.tags %}
                <a href="{{ '-ref' | prepend: tag | replace: ' ','-' | prepend: '/tags/#' | prepend: site.baseurl }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
            {% endfor %}
        {% endif %}
    </small>
</h3>
<hr class="heading-divider" />
<div class="post-content">
    {{ content }}
</div>

<ul class="pager">
    {% if page.next %}
        <li class="previous"><a class="fa fa-chevron-left" href="{{ page.next.url | prepend: site.baseurl }}"></a></li>
    {% else %}
        <li class="previous disabled"><a class="fa fa-chevron-left"></a></li>
    {% endif %}
    {% if page.previous %}
        <li class="next"><a class="fa fa-chevron-right" href="{{ page.previous.url | prepend: site.baseurl }}"></a></li>
    {% else %}
        <li class="next disabled"><a class="fa fa-chevron-right"></a></li>
    {% endif %}
</ul>
