---
layout: page
---

{% assign i18n = site.data.i18n.translations[page.language] %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h2><span class="fa fa-code fa-lg"></span> {{ i18n.my_projects }}</h2>
        </div>
    </div>

    {% include project_category.html category="maintainer" %}

    <div class="row">
        <div class="col-xs-12">
            <h2><span class="fa fa-code-fork fa-lg"></span> {{ i18n.contributed_projects }}</h2>
        </div>
    </div>

    {% include project_category.html category="contributor" %}
</div>
